<div class="wrapper">
    <!-- Sidebar Holder -->
    <app-sidebar-archivos></app-sidebar-archivos>

    <!-- Page Content Holder -->
    <div id="content">
        <button type="button" id="sidebarCollapse" class="navbar-btn">
            <span></span>
            <span></span>
            <span></span>
        </button>

        <!--Intro-->
        <div class="row mt-4">
            <div class="col-md-5">
                <h2 class="font-weight-bold">Mediateca
                <hr class="my-4 linea1">
                </h2>            
            </div>

        </div>

        <!--DOCUMENTOS EN PDF-->
        <div class="container mt-5">
        
          <div class="row">
          <div class="col-md-4">
            <div class="view overlay card">
              <a href="https://www.youtube.com/watch?v=nEsoLtQw50s" target="_blank">
                <img src="/assets/img/para_leer.png" class="img-fluid " alt="30 Años para leer y seguir leyendo"></a>
              <div class="mask flex-center rgba-black-strong">
                  <p class="white-text text-center p-4 font-weight-bold"><a class="white-text" href="https://www.youtube.com/watch?v=nEsoLtQw50s" target="_blank">30 Años para leer y seguir leyendo</a></p>
              </div>
          </div>
          </div>

          <div class="col-md-4">
            
              <div class="view overlay card">
                <a href="https://youtu.be/Stu3bhxFfvE" target="_blank">
                  <img src="/assets/img/organizacion.png" class="img-fluid " alt="Organización y uso de los acervos"></a>
              <div class="mask flex-center rgba-black-strong">
                  <p class="white-text text-center p-4 font-weight-bold"><a class="white-text" href="https://youtu.be/Stu3bhxFfvE" target="_blank">Organización y uso de los acervos</a></p>
                  
              </div>
          </div>
          </div>

          <div class="col-md-4">
            <div class="view overlay card">
              <a href="https://youtu.be/PviS-pAXfPs" target="_blank">
              <img src="/assets/img/interculturales_bilingues.png" class="img-fluid " alt="Videocápsula de interculturales y bilingües"></a>
              <div class="mask flex-center rgba-black-strong">
                  <p class="white-text text-center p-4 font-weight-bold"><a class="white-text" href="https://youtu.be/PviS-pAXfPs" target="_blank">Videocápsula de interculturales y bilingües</a></p>
              </div>
          </div>
          </div>
        </div>

        </div>

      <!--videos-->
        <br>
      <div class="container my-4 py-4 white z-depth-1">
        
        <!--Grid row-->
    <div class="row">

      <!--Grid column-->
      <div class="col-md-3 my-4">

        <ul class="nav md-pills pills-deep-orange d-flex flex-column">
          <li class="nav-item">
            <a class="nav-link active text-left" data-toggle="tab" href="#panel11" role="tab"><strong>Bibliotecas Escolares y del Aula</strong></a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-left" data-toggle="tab" href="#panel12" role="tab"><strong>Cantemos un cuento</strong></a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-left" data-toggle="tab" href="#panel13" role="tab"><strong>Cuando cuentas cuentos</strong></a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-left" data-toggle="tab" href="#panel14" role="tab"><strong>Cápsulas radiofónicas</strong></a>
          </li>
        </ul>

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-9 mb-4">

        <!-- Tab panels -->
        <div class="tab-content pt-0">

          <!--Panel 1-->
          <div class="tab-pane fade in show active" id="panel11" role="tabpanel">
            <br>
            <div class="row">
            <div class="col-md-4 text-center">
              <div class="view overlay card">
              <a href="https://youtu.be/b4g4dRt2N3g"><img class="img-fluid pb-2" src="/assets/img/anim_clasificacion.png"></a>
              <div class="mask flex-center rgba-black-strong">
                <p class="white-text text-center p-4 font-weight-bold"><a class="white-text" href="https://youtu.be/b4g4dRt2N3g" target="_blank">Clasificación</a></p>
              </div>
              </div>
            </div>
            <div class="col-md-4 text-center">
              <div class="view overlay card">
              <a href="https://youtu.be/PG-0S8553CI"><img class="img-fluid pb-2" src="/assets/img/anim_servicios.png"></a>
              <div class="mask flex-center rgba-black-strong">
                <p class="white-text text-center p-4 font-weight-bold"><a class="white-text" href="https://youtu.be/PG-0S8553CI" target="_blank">Servicios bibliotecarios</a></p>
              </div>
            </div>
            </div>
            <div class="col-md-4 text-center">
              <div class="view overlay card">
              <a href="https://youtu.be/0V_dmMsjWqU"><img class="img-fluid pb-2" src="/assets/img/anim_restauracion.png"></a>
              <div class="mask flex-center rgba-black-strong">
                <p class="white-text text-center p-4 font-weight-bold"><a class="white-text" href="https://youtu.be/0V_dmMsjWqU" target="_blank">Restauración y reposición</a></p>
              </div>
              </div>
            </div>
          </div>

          </div>
          <!--/.Panel 1-->

          <!--Panel 2-->
          <div class="tab-pane fade" id="panel12" role="tabpanel">
            <br>
            <div class="row">
              <div class="col-md-4 text-center">
                <div class="view overlay card">
                <a href="https://youtu.be/PHo-4B5r_Ks"><img class="img-fluid pb-2" src="/assets/img/anim_que_te_gusta.png"></a>
                <div class="mask flex-center rgba-black-strong">
                  <p class="white-text text-center p-4 font-weight-bold"><a class="white-text" href="https://youtu.be/PHo-4B5r_Ks" target="_blank">¿Qué te gusta más?</a></p>
                </div>
                </div>
              </div>
              <div class="col-md-4 text-center">
                <div class="view overlay card">
                <a href="https://youtu.be/kFXPFvUZ4pU"><img class="img-fluid pb-2" src="/assets/img/anim_adelita.png"></a>
                <div class="mask flex-center rgba-black-strong">
                  <p class="white-text text-center p-4 font-weight-bold"><a class="white-text" href="https://youtu.be/kFXPFvUZ4pU" target="_blank">Adelita</a></p>
                </div>
              </div>
              </div>
              <div class="col-md-4 text-center">
                <div class="view overlay card">
                <a href="https://youtu.be/6wP5ev419Ec"><img class="img-fluid pb-2" src="/assets/img/LA_CUCARACHA.png"></a>
                <div class="mask flex-center rgba-black-strong">
                  <p class="white-text text-center p-4 font-weight-bold"><a class="white-text" href="https://youtu.be/6wP5ev419Ec" target="_blank">La cucaracha</a></p>
                </div>
                </div>
              </div>
            </div>
          </div>
          <!--/.Panel 2-->

          <!--Panel 3-->
          <div class="tab-pane fade" id="panel13" role="tabpanel">
            <br>
            <div class="row">
              <div class="col-md-4 text-center">
                <div class="view overlay card">
                <a href="https://youtu.be/XfSW_qWVD_A"><img class="img-fluid pb-2" src="/assets/img/sopa_calabaza.png"></a>
                <div class="mask flex-center rgba-black-strong">
                  <p class="white-text text-center p-4 font-weight-bold"><a class="white-text" href="https://youtu.be/XfSW_qWVD_A" target="_blank">Sopa de calabaza</a></p>
                </div>
                </div>
              </div>
              <div class="col-md-4 text-center">
                <div class="view overlay card">
                <a href="https://youtu.be/L5Zcz5zrT3w"><img class="img-fluid pb-2" src="/assets/img/nina_bonita.png"></a>
                <div class="mask flex-center rgba-black-strong">
                  <p class="white-text text-center p-4 font-weight-bold"><a class="white-text" href="https://youtu.be/L5Zcz5zrT3w" target="_blank">Niña bonita</a></p>
                </div>
              </div>
              </div>
              <div class="col-md-4 text-center">
                <div class="view overlay card">
                <a href="https://youtu.be/i2_E0tphHiI"><img class="img-fluid pb-2" src="/assets/img/los_insectos.png"></a>
                <div class="mask flex-center rgba-black-strong">
                  <p class="white-text text-center p-4 font-weight-bold"><a class="white-text" href="https://youtu.be/i2_E0tphHiI" target="_blank">Los insectos también son perfectos</a></p>
                </div>
                </div>
              </div>
            </div>

          </div>
          <!--/.Panel 3-->

          <!--Panel 4-->
          <div class="tab-pane fade" id="panel14" role="tabpanel">
            <br>

            <div class="row">
              <div class="col-md-3 text-center">
                <a href="#"><img class="img-fluid pb-3" src="/assets/img/tranv.png"></a>
                <a href="#"><span class="font-weight-bold">Tranvía 16</span></a>
              </div>
              <div class="col-md-3 text-center">
                <a href="#"><img class="img-fluid pb-3" src="/assets/img/debajo.png"></a>
                <a href="#"><span class="font-weight-bold">Debajo de mi cama</span></a>
              </div>
              <div class="col-md-3 text-center">
                <a href="#"><img class="img-fluid pb-3" src="/assets/img/cierra.png"></a>
                <a href="#"><span class="font-weight-bold">Cierra los ojos</span></a>
              </div>
              <div class="col-md-3 text-center">
                <a href="#"><img class="img-fluid pb-4" src="/assets/img/frijol_audio.png"></a>
                <a href="#"><span class="font-weight-bold">Frijoles saltarines</span></a>
              </div>
            </div>

          </div>
          <!--/.Panel 4-->


        </div>


      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->

  </div>


    </div>
</div>
