<div class="wrapper">
    <!-- Sidebar Holder -->
    <app-sidebar></app-sidebar>

    <!-- Page Content Holder -->
    <div id="content">
        <button type="button" id="sidebarCollapse" class="navbar-btn">
            <span></span>
            <span></span>
            <span></span>
        </button>

    <div class="row mt-4">
        <div class="col-md-6">
            <h2 class="font-weight-bold">Títulos monolingües en español e inglés
            <hr class="my-4 linea1">
            </h2>            
        </div>

        <div class="col-12">
            <p class="text-justify">Son materiales bibliográficos diversos que fortalecen el acceso a una amplia gama de expresiones culturales –científicas, literarias, plásticas– y propician una valoración más profunda y enriquecedora de las diferencias étnicas, lingüísticas y culturales del país y del mundo.</p>

            <p class="text-justify">Es importante recordar que el acervo de Biblioteca Escolar es de carácter nacional. A partir de 2002 el acervo de Biblioteca de Aula se encuentra diferenciado por entidad federativa; es decir, existen libros distintos en cada uno de los estados de la República.</p>

    </div>

    <div class="container my-4">


    <!--Accordion wrapper-->
    <div class="accordion md-accordion z-depth-1" id="accordionEx" role="tablist" aria-multiselectable="true">

    <!-- Accordion card -->
    <div class="card">
  
      <!-- Card header -->
      <div class="card-header" style="border-bottom: #ad542c 2px solid; background-color: #ffead8;" role="tab" id="headingOne1">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="true"
          aria-controls="collapseOne1">
          <h5 class="mb-0 font-weight-bold brown-text">
            Títulos monolingües seleccionados para la Biblioteca Escolar <i class="fas fa-angle-down rotate-icon"></i>
          </h5>
        </a>
      </div>
  
      <!-- Card body -->
      <div id="collapseOne1" class="collapse" role="tabpanel" aria-labelledby="headingOne1"
        data-parent="#accordionEx">
        <div class="table-wrapper-scroll-y my-custom-scrollbar m-4 py-3">
            <!--Table-->
            <table class="table">
    <!--Table head-->
      <thead>
        <tr>
          <th>#</th>
          <th>Documento PDF</th>
          <th>Descarga</th>
        </tr>
      </thead>
      <!--Table head-->
      <!--Table body-->
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Biblioteca Escolar 2019</td>
          <td><a href="/assets/pdf/01-Conoce-tus-Acervos/05-Titulos-Monolingues/Titulos-monolingues-seleccionados-para-la-BE/01-Biblioteca_Escolar_2019.pdf" target="_blank"><i class="fas fa-download blue-grey-text"></i></a></td>
        </tr>
        <tr>
        <tr>
            <th scope="row">2</th>
            <td>Biblioteca Escolar 2018</td>
            <td><a href="/assets/pdf/01-Conoce-tus-Acervos/05-Titulos-Monolingues/Titulos-monolingues-seleccionados-para-la-BE/02-Biblioteca_Escolar_2018.pdf" target="_blank"><i class="fas fa-download blue-grey-text"></i></a></td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Biblioteca Escolar 2016</td>
          <td><a href="/assets/pdf/01-Conoce-tus-Acervos/05-Titulos-Monolingues/Titulos-monolingues-seleccionados-para-la-BE/03-Biblioteca_Escolar_2016.pdf" target="_blank"><i class="fas fa-download blue-grey-text"></i></a></td>
      </tr>
        <tr>
          <th scope="row">4</th>
          <td>Biblioteca Escolar 2014</td>
          <td><a href="/assets/pdf/01-Conoce-tus-Acervos/05-Titulos-Monolingues/Titulos-monolingues-seleccionados-para-la-BE/04-Biblioteca_Escolar_2014.pdf" target="_blank"><i class="fas fa-download blue-grey-text"></i></a></td>
        </tr>
        <tr>
          <th scope="row">5</th>
          <td>Biblioteca Escolar 2013</td>
          <td><a href="/assets/pdf/01-Conoce-tus-Acervos/05-Titulos-Monolingues/Titulos-monolingues-seleccionados-para-la-BE/05-Biblioteca_Escolar_2013.pdf" target="_blank"><i class="fas fa-download blue-grey-text"></i></a></td>
        </tr>
        <tr>
          <th scope="row">6</th>
          <td>Biblioteca Escolar 2012</td>
          <td><a href="/assets/pdf/01-Conoce-tus-Acervos/05-Titulos-Monolingues/Titulos-monolingues-seleccionados-para-la-BE/06-Biblioteca_Escolar_2012.pdf" target="_blank"><i class="fas fa-download blue-grey-text"></i></a></td>
        </tr>
        <tr>
            <th scope="row">7</th>
            <td>Biblioteca Escolar 2011</td>
            <td><a href="/assets/pdf/01-Conoce-tus-Acervos/05-Titulos-Monolingues/Titulos-monolingues-seleccionados-para-la-BE/07-Biblioteca_Escolar_2011.pdf" target="_blank"><i class="fas fa-download blue-grey-text"></i></a></td>
          </tr>
          <tr>
            <th scope="row">8</th>
            <td>Biblioteca Escolar 2010</td>
            <td><a href="/assets/pdf/01-Conoce-tus-Acervos/05-Titulos-Monolingues/Titulos-monolingues-seleccionados-para-la-BE/08-Biblioteca_Escolar_2010.pdf" target="_blank"><i class="fas fa-download blue-grey-text"></i></a></td>
          </tr>
          <tr>
            <th scope="row">9</th>
            <td>Biblioteca Escolar 2009</td>
            <td><a href="/assets/pdf/01-Conoce-tus-Acervos/05-Titulos-Monolingues/Titulos-monolingues-seleccionados-para-la-BE/09-Biblioteca_Escolar_2009.pdf" target="_blank"><i class="fas fa-download blue-grey-text"></i></a></td>
          </tr>
          <tr>
            <th scope="row">10</th>
            <td>Biblioteca Escolar 2008</td>
            <td><a href="/assets/pdf/01-Conoce-tus-Acervos/05-Titulos-Monolingues/Titulos-monolingues-seleccionados-para-la-BE/10-Biblioteca_Escolar_2008.pdf" target="_blank"><i class="fas fa-download blue-grey-text"></i></a></td>
          </tr>
          <tr>
            <th scope="row">11</th>
            <td>Biblioteca Escolar 2007</td>
            <td><a href="/assets/pdf/01-Conoce-tus-Acervos/05-Titulos-Monolingues/Titulos-monolingues-seleccionados-para-la-BE/11-Biblioteca_Escolar_2007.pdf" target="_blank"><i class="fas fa-download blue-grey-text"></i></a></td>
          </tr>
          <tr>
            <th scope="row">12</th>
            <td>Biblioteca Escolar 2006</td>
            <td><a href="/assets/pdf/01-Conoce-tus-Acervos/05-Titulos-Monolingues/Titulos-monolingues-seleccionados-para-la-BE/12-Biblioteca_Escolar_2006.pdf" target="_blank"><i class="fas fa-download blue-grey-text"></i></a></td>
          </tr>
          <tr>
            <th scope="row">13</th>
            <td>Biblioteca Escolar 2005</td>
            <td><a href="/assets/pdf/01-Conoce-tus-Acervos/05-Titulos-Monolingues/Titulos-monolingues-seleccionados-para-la-BE/13-Biblioteca_Escolar_2005.pdf" target="_blank"><i class="fas fa-download blue-grey-text"></i></a></td>
          </tr>
          <tr>
            <th scope="row">14</th>
            <td>Biblioteca Escolar 2004</td>
            <td><a href="/assets/pdf/01-Conoce-tus-Acervos/05-Titulos-Monolingues/Titulos-monolingues-seleccionados-para-la-BE/14-Biblioteca_Escolar_2004.pdf" target="_blank"><i class="fas fa-download blue-grey-text"></i></a></td>
          </tr>
          <tr>
            <th scope="row">15</th>
            <td>Biblioteca Escolar 2003</td>
            <td><a href="/assets/pdf/01-Conoce-tus-Acervos/05-Titulos-Monolingues/Titulos-monolingues-seleccionados-para-la-BE/15-Biblioteca_Escolar_2003.pdf" target="_blank"><i class="fas fa-download blue-grey-text"></i></a></td>
          </tr>
          <tr>
            <th scope="row">16</th>
            <td>Biblioteca Escolar 2002</td>
            <td><a href="/assets/pdf/01-Conoce-tus-Acervos/05-Titulos-Monolingues/Titulos-monolingues-seleccionados-para-la-BE/16-Biblioteca_Escolar_2002.pdf" target="_blank"><i class="fas fa-download blue-grey-text"></i></a></td>
          </tr>
          <tr>
            <th scope="row">17</th>
            <td>Biblioteca Escolar 2001</td>
            <td><a href="/assets/pdf/01-Conoce-tus-Acervos/05-Titulos-Monolingues/Titulos-monolingues-seleccionados-para-la-BE/17-Biblioteca_Escolar_2001.pdf" target="_blank"><i class="fas fa-download blue-grey-text"></i></a></td>
          </tr>
      </tbody>
      <!--Table body-->
            </table>
            <!--Table-->
      </div>
  
    </div>
    <!-- Accordion card -->
  
    <!-- Accordion card -->
    <div class="card">
  
      <!-- Card header -->
      <div class="card-header" style="background-color: #ffead8;" role="tab" id="headingTwo2">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseTwo2"
          aria-expanded="false" aria-controls="collapseTwo2">
          <h5 class="mb-0 font-weight-bold brown-text">
            Títulos monolingües seleccionados para la Biblioteca del Aula <i class="fas fa-angle-down rotate-icon"></i>
          </h5>
        </a>
      </div>
  
      <!-- Card body -->
      <div id="collapseTwo2" class="collapse" role="tabpanel" aria-labelledby="headingTwo2"
        data-parent="#accordionEx">
        <div class="table-wrapper-scroll-y my-custom-scrollbar m-4 py-3">
            <!--Table-->
            <table class="table">
    <!--Table head-->
      <thead>
        <tr>
          <th>#</th>
          <th>Estado</th>
          <th>Documento XLS</th>
          <th>Descarga</th>
        </tr>
      </thead>
      <!--Table head-->
      <!--Table body-->
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Aguascalientes</td>
          <td>AGS BA 02-03 AL_13-14.XLS</td>
          <td><a href="/assets/pdf/01-Conoce-tus-Acervos/05-Titulos-Monolingues/Titulos-monolingues-seleccionados-para-la-BA/01-AGS_BA_02-03_AL_13-14.xls" target="_blank"><i class="fas fa-file-excel blue-grey-text"></i></a></td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Baja California</td>
          <td>BC BA 02-03 AL_13-14.XLS</td>
          <td><a href="/assets/pdf/01-Conoce-tus-Acervos/05-Titulos-Monolingues/Titulos-monolingues-seleccionados-para-la-BA/02-BC_BA_02-03_AL_13-14.xls" target="_blank"><i class="fas fa-file-excel blue-grey-text"></i></a></td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Baja California Sur</td>
          <td>BCS BA 02-03 AL_13-14.XLS</td>
          <td><a href="/assets/pdf/01-Conoce-tus-Acervos/05-Titulos-Monolingues/Titulos-monolingues-seleccionados-para-la-BA/03-BCS_BA_02-03_AL_13-14.xls" target="_blank"><i class="fas fa-file-excel blue-grey-text"></i></a></td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td>Campeche</td>
          <td>CAMP BA 02-03 AL_13-14.XLS</td>
          <td><a href="/assets/pdf/01-Conoce-tus-Acervos/05-Titulos-Monolingues/Titulos-monolingues-seleccionados-para-la-BA/04-CAMP_BA_02-03_AL_13-14.xls" target="_blank"><i class="fas fa-file-excel blue-grey-text"></i></a></td>
        </tr>
        <tr>
          <th scope="row">5</th>
          <td>Chihuahua</td>
          <td>CHIH BA 02-03 AL_13-14.XLS</td>
          <td><a href="/assets/pdf/01-Conoce-tus-Acervos/05-Titulos-Monolingues/Titulos-monolingues-seleccionados-para-la-BA/05-CHIH_BA_02-03_AL_13-14.xls" target="_blank"><i class="fas fa-file-excel blue-grey-text"></i></a></td>
        </tr>        
        <tr>
          <th scope="row">6</th>
          <td>Chiapas</td>
          <td>CHIS BA 02-03 AL_13-14.XLS</td>
          <td><a href="/assets/pdf/01-Conoce-tus-Acervos/05-Titulos-Monolingues/Titulos-monolingues-seleccionados-para-la-BA/06-CHIS_BA_02-03_AL_13-14.xls" target="_blank"><i class="fas fa-file-excel blue-grey-text"></i></a></td>
        </tr>        
        <tr>
          <th scope="row">7</th>
          <td>Coahuila</td>
          <td>COAH BA 02-03 AL_13-14.XLS</td>
          <td><a href="/assets/pdf/01-Conoce-tus-Acervos/05-Titulos-Monolingues/Titulos-monolingues-seleccionados-para-la-BA/07-COAH_BA_02-03_AL_13-14.xls" target="_blank"><i class="fas fa-file-excel blue-grey-text"></i></a></td>
        </tr>        
        <tr>
          <th scope="row">8</th>
          <td>Colima</td>
          <td>COL BA 02-03 AL_13-14.XLS</td>
          <td><a href="/assets/pdf/01-Conoce-tus-Acervos/05-Titulos-Monolingues/Titulos-monolingues-seleccionados-para-la-BA/08-COL_BA_02-03_AL_13-14.xls" target="_blank"><i class="fas fa-file-excel blue-grey-text"></i></a></td>
        </tr>        
        <tr>
          <th scope="row">9</th>
          <td>Distrito Federal</td>
          <td>DF BA 02-03 AL_13-14.XLS</td>
          <td><a href="/assets/pdf/01-Conoce-tus-Acervos/05-Titulos-Monolingues/Titulos-monolingues-seleccionados-para-la-BA/09-DF_BA_02-03_AL_13-14.xls" target="_blank"><i class="fas fa-file-excel blue-grey-text"></i></a></td>
        </tr>        
        <tr>
          <th scope="row">10</th>
          <td>Durango</td>
          <td>DGO BA 02-03 AL_13-14.XLS</td>
          <td><a href="/assets/pdf/01-Conoce-tus-Acervos/05-Titulos-Monolingues/Titulos-monolingues-seleccionados-para-la-BA/10-DGO_BA_02-03_AL_13-14.xls" target="_blank"><i class="fas fa-file-excel blue-grey-text"></i></a></td>
        </tr>        
        <tr>
          <th scope="row">11</th>
          <td>Guerrero</td>
          <td>GRO BA 02-03 AL_13-14.XLS</td>
          <td><a href="/assets/pdf/01-Conoce-tus-Acervos/05-Titulos-Monolingues/Titulos-monolingues-seleccionados-para-la-BA/11-GRO_BA_02-03_AL_13-14.xls" target="_blank"><i class="fas fa-file-excel blue-grey-text"></i></a></td>
        </tr>        
        <tr>
          <th scope="row">12</th>
          <td>Guanajuato</td>
          <td>GTO BA 02-03 AL_13-14.XLS</td>
          <td><a href="/assets/pdf/01-Conoce-tus-Acervos/05-Titulos-Monolingues/Titulos-monolingues-seleccionados-para-la-BA/12-GTO_BA_02-03_AL_13-14.xls" target="_blank"><i class="fas fa-file-excel blue-grey-text"></i></a></td>
        </tr>        
        <tr>
          <th scope="row">13</th>
          <td>Hidalgo</td>
          <td>HGO BA 02-03 AL_13-14.XLS</td>
          <td><a href="/assets/pdf/01-Conoce-tus-Acervos/05-Titulos-Monolingues/Titulos-monolingues-seleccionados-para-la-BA/13-HGO_BA_02-03_AL_13-14.xls" target="_blank"><i class="fas fa-file-excel blue-grey-text"></i></a></td>
        </tr>        
        <tr>
          <th scope="row">14</th>
          <td>Jalisco</td>
          <td>JAL BA 02-03 AL_13-14.XLS</td>
          <td><a href="/assets/pdf/01-Conoce-tus-Acervos/05-Titulos-Monolingues/Titulos-monolingues-seleccionados-para-la-BA/14-JAL_BA_02-03_AL_13-14.xls" target="_blank"><i class="fas fa-file-excel blue-grey-text"></i></a></td>
        </tr>        
        <tr>
          <th scope="row">15</th>
          <td>México</td>
          <td>MEX BA 02-03 AL_13-14.XLS</td>
          <td><a href="/assets/pdf/01-Conoce-tus-Acervos/05-Titulos-Monolingues/Titulos-monolingues-seleccionados-para-la-BA/15-MEX_BA_02-03_AL_13-14.xls" target="_blank"><i class="fas fa-file-excel blue-grey-text"></i></a></td>
        </tr>        
        <tr>
          <th scope="row">16</th>
          <td>Michoacán</td>
          <td>MICH BA 02-03 AL_13-14.XLS</td>
          <td><a href="/assets/pdf/01-Conoce-tus-Acervos/05-Titulos-Monolingues/Titulos-monolingues-seleccionados-para-la-BA/16-MICH_BA_02-03_AL_13-14.xls" target="_blank"><i class="fas fa-file-excel blue-grey-text"></i></a></td>
        </tr>        
        <tr>
          <th scope="row">17</th>
          <td>Morelos</td>
          <td>MOR BA 02-03 AL_13-14.XLS</td>
          <td><a href="/assets/pdf/01-Conoce-tus-Acervos/05-Titulos-Monolingues/Titulos-monolingues-seleccionados-para-la-BA/17-MOR_BA_02-03_AL_13-14.xls" target="_blank"><i class="fas fa-file-excel blue-grey-text"></i></a></td>
        </tr>        
        <tr>
          <th scope="row">18</th>
          <td>Nayarit</td>
          <td>NAY BA 02-03 AL_13-14.XLS</td>
          <td><a href="/assets/pdf/01-Conoce-tus-Acervos/05-Titulos-Monolingues/Titulos-monolingues-seleccionados-para-la-BA/18-NAY_BA_02-03_AL_13-14.xls" target="_blank"><i class="fas fa-file-excel blue-grey-text"></i></a></td>
        </tr>        
        <tr>
          <th scope="row">19</th>
          <td>Nuevo León</td>
          <td>NL BA 02-03 AL_13-14.XLS</td>
          <td><a href="/assets/pdf/01-Conoce-tus-Acervos/05-Titulos-Monolingues/Titulos-monolingues-seleccionados-para-la-BA/19-NL_BA_02-03_AL_13-14.xls" target="_blank"><i class="fas fa-file-excel blue-grey-text"></i></a></td>
        </tr>        
        <tr>
          <th scope="row">20</th>
          <td>Oaxaca</td>
          <td>OAX BA 02-03 AL_13-14.XLS</td>
          <td><a href="/assets/pdf/01-Conoce-tus-Acervos/05-Titulos-Monolingues/Titulos-monolingues-seleccionados-para-la-BA/20-OAX_BA_02-03_AL_13-14.xls" target="_blank"><i class="fas fa-file-excel blue-grey-text"></i></a></td>
        </tr>        
        <tr>
          <th scope="row">21</th>
          <td>Puebla</td>
          <td>PUE BA 02-03 AL_13-14.XLS</td>
          <td><a href="/assets/pdf/01-Conoce-tus-Acervos/05-Titulos-Monolingues/Titulos-monolingues-seleccionados-para-la-BA/21-PUE_BA_02-03_AL_13-14.xls" target="_blank"><i class="fas fa-file-excel blue-grey-text"></i></a></td>
        </tr>        
        <tr>
          <th scope="row">22</th>
          <td>Querétaro</td>
          <td>QRO BA 02-03 AL_13-14.XLS</td>
          <td><a href="/assets/pdf/01-Conoce-tus-Acervos/05-Titulos-Monolingues/Titulos-monolingues-seleccionados-para-la-BA/22-QRO_BA_02-03_AL_13-14.xls" target="_blank"><i class="fas fa-file-excel blue-grey-text"></i></a></td>
        </tr>        
        <tr>
          <th scope="row">23</th>
          <td>Quintana Roo</td>
          <td>QROO BA 02-03 AL_13-14.XLS</td>
          <td><a href="/assets/pdf/01-Conoce-tus-Acervos/05-Titulos-Monolingues/Titulos-monolingues-seleccionados-para-la-BA/23-QROO_BA_02-03_AL_13-14.xls" target="_blank"><i class="fas fa-file-excel blue-grey-text"></i></a></td>
        </tr>        
        <tr>
          <th scope="row">24</th>
          <td>Sinaloa</td>
          <td>SIN BA 02-03 AL_13-14.XLS</td>
          <td><a href="/assets/pdf/01-Conoce-tus-Acervos/05-Titulos-Monolingues/Titulos-monolingues-seleccionados-para-la-BA/24-SIN_BA_02-03_AL_13-14.xls" target="_blank"><i class="fas fa-file-excel blue-grey-text"></i></a></td>
        </tr>        
        <tr>
          <th scope="row">25</th>
          <td>San Luis Potosí</td>
          <td>SLP BA 02-03 AL_13-14.XLS</td>
          <td><a href="/assets/pdf/01-Conoce-tus-Acervos/05-Titulos-Monolingues/Titulos-monolingues-seleccionados-para-la-BA/25-SLP_BA_02-03_AL_13-14.xls" target="_blank"><i class="fas fa-file-excel blue-grey-text"></i></a></td>
        </tr>        
        <tr>
          <th scope="row">26</th>
          <td>Sonora</td>
          <td>SON BA 02-03 AL_13-14.XLS</td>
          <td><a href="/assets/pdf/01-Conoce-tus-Acervos/05-Titulos-Monolingues/Titulos-monolingues-seleccionados-para-la-BA/26-SON_BA_02-03_AL_13-14.xls" target="_blank"><i class="fas fa-file-excel blue-grey-text"></i></a></td>
        </tr>        
        <tr>
          <th scope="row">27</th>
          <td>Tabasco</td>
          <td>TAB BA 02-03 AL_13-14.XLS</td>
          <td><a href="/assets/pdf/01-Conoce-tus-Acervos/05-Titulos-Monolingues/Titulos-monolingues-seleccionados-para-la-BA/27-TAB_BA_02-03_AL_13-14.xls" target="_blank"><i class="fas fa-file-excel blue-grey-text"></i></a></td>
        </tr>        
        <tr>
          <th scope="row">28</th>
          <td>Tamaulipas</td>
          <td>TAMPS BA 02-03 AL_13-14.XLS</td>
          <td><a href="/assets/pdf/01-Conoce-tus-Acervos/05-Titulos-Monolingues/Titulos-monolingues-seleccionados-para-la-BA/28-TAMPS_BA_02-03_AL_13-14.xls" target="_blank"><i class="fas fa-file-excel blue-grey-text"></i></a></td>
        </tr>        
        <tr>
          <th scope="row">29</th>
          <td>Tlaxcala</td>
          <td>TLAX BA 02-03 AL_13-14.XLS</td>
          <td><a href="/assets/pdf/01-Conoce-tus-Acervos/05-Titulos-Monolingues/Titulos-monolingues-seleccionados-para-la-BA/29-TLAX_BA_02-03_AL_13-14.xls" target="_blank"><i class="fas fa-file-excel blue-grey-text"></i></a></td>
        </tr>        
        <tr>
          <th scope="row">30</th>
          <td>Veracruz</td>
          <td>VER BA 02-03 AL_13-14.XLS</td>
          <td><a href="/assets/pdf/01-Conoce-tus-Acervos/05-Titulos-Monolingues/Titulos-monolingues-seleccionados-para-la-BA/30-VER_BA_02-03_AL_13-14.xls" target="_blank"><i class="fas fa-file-excel blue-grey-text"></i></a></td>
        </tr>        
        <tr>
          <th scope="row">31</th>
          <td>Yucatán</td>
          <td>YUC BA 02-03 AL_13-14.XLS</td>
          <td><a href="/assets/pdf/01-Conoce-tus-Acervos/05-Titulos-Monolingues/Titulos-monolingues-seleccionados-para-la-BA/31-YUC_BA_02-03_AL_13-14.xls" target="_blank"><i class="fas fa-file-excel blue-grey-text"></i></a></td>
        </tr>        
        <tr>
          <th scope="row">32</th>
          <td>Zacatecas</td>
          <td>ZAC BA 02-03 AL_13-14.XLS</td>
          <td><a href="/assets/pdf/01-Conoce-tus-Acervos/05-Titulos-Monolingues/Titulos-monolingues-seleccionados-para-la-BA/32-ZAC_BA_02-03_AL_13-14.xls" target="_blank"><i class="fas fa-file-excel blue-grey-text"></i></a></td>
        </tr>
      </tbody>
      <!--Table body-->
            </table>
            <!--Table-->
        </div>
      </div>
  
    </div>
    <!-- Accordion card -->
  
  
    </div>


    </div>



</div>