<div class="wrapper">
    <!-- Sidebar Holder -->
    <app-sidebar-proceso></app-sidebar-proceso>

    <!-- Page Content Holder -->
    <div id="content">
        <button type="button" id="sidebarCollapse" class="navbar-btn">
            <span></span>
            <span></span>
            <span></span>
        </button>

        <!--Intro-->
        <div class="row mt-4">
            <div class="col-md-6">
                <h2 class="font-weight-bold">Sobre el proceso de selección
                <hr class="my-4 linea1">
                </h2>            
            </div>

            <div class="col-12">
                <p class="text-justify">El proceso de selección para conformar los acervos de las Bibliotecas Escolares y de Aula es el procedimiento mediante el cual se realizan distintas acciones encaminadas a garantizar que los alumnos y maestros de educación básica tengan acceso a materiales de calidad. El procedimiento involucra a diferentes actores en distintas etapas.</p>

            </div>

        </div>

        <!--Contenido-->
        <div class="row d-flex justify-content-center">
            <div class="text-center m-4">
                <img class="img-fluid" src="/assets/img/proceso.png" alt="Proceso de selección">
            </div>
        </div>
        <!--Contenido-->
    </div>
</div>