<div class="wrapper">
                <!-- Sidebar Holder -->
                <app-sidebar></app-sidebar>
            
                <!-- Page Content Holder -->
                <div id="content">
                    <button type="button" id="sidebarCollapse" class="navbar-btn">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
            
                <div class="row mt-4">
                    <div class="col-md-5">
                        <h2 class="font-weight-bold">Acervos para la Biblioteca<br/>Escolar y de Aula
                        <hr class="my-4 linea1">
                        </h2>            
                    </div>
            
                    <div class="col-md-7">
                        <p class="text-justify">Los acervos para la Biblioteca Escolar y de Aula representan un proyecto de formación de lectores y escritores que ofrece opciones de lecturas individuales y colectivas, no sólo complementarias sino distintas de las que se encuentran en los libros de texto. Estos se complementan.</p>
                        <p class="text-justify">El acervo para la Biblioteca Escolar, por su tamaño, ofrece a los lectores oportunidades de ampliar su universo al entrar en contacto con materiales escritos de los mismos géneros y categorías que se encuentran en las aulas. Los libros enciclopédicos, y en general, las obras de referencia se localizarán solamente en el acervo escolar para su consulta.</p>
                      </div>
                <div class="col-12">
                    <p class="text-justify">El acervo para la Biblioteca de Aula representa una oportunidad de lectura en profundidad. Cada uno de los libros para los salones ofrece posibilidades de lectura diferentes, pone a disposición temas y formatos que son muestra del acervo (mucho más amplio) que podrá encontrarse no sólo en la biblioteca de la escuela, sino en los distintos acervos presentes en la vida social. Con ellos, se tienden lazos de búsqueda, se alimenta la curiosidad y se intenta que con su presencia constante los libros se vayan volviendo elementos de referencia y uso permanente, tan habituales como el resto de los objetos en el salón de clases.</p>
                    <p class="text-justify">Los acervos que integran las Bibliotecas Escolares y de Aula ofrecen la posibilidad de atender las múltiples necesidades de los alumnos de educación básica en los distintos momentos de su desarrollo como lectores; de esta manera, toman en cuenta a los niños que aún no inician el aprendizaje formal de la lectura y escritura, a los que ya lo han iniciado, y a quienes leen y escriben de manera habitual.</p>

        
                </div>
            
