<div class="wrapper">
    <!-- Sidebar Holder -->
    <app-sidebar-proceso></app-sidebar-proceso>

    <!-- Page Content Holder -->
    <div id="content">
        <button type="button" id="sidebarCollapse" class="navbar-btn">
            <span></span>
            <span></span>
            <span></span>
        </button>

        <!--Intro-->
        <div class="row mt-4">
            <div class="col-md-5">
                <h2 class="font-weight-bold">Preselección
                <hr class="my-4 linea1">
                </h2>            
            </div>

            <div class="col-md-7">
                <p class="text-justify">En esta etapa, los libros puestos a consideración de la Secretaría de Educación Pública, son revisados por grupos multidisciplinarios constituidos por especialistas en educación, escritores, científicos, divulgadores de la ciencia, especialistas en lectura, y expertos en literatura infantil y juvenil, quienes recomendarán a la Secretaría una lista de libros por nivel educativo, grado, género y categoría.</p>
                <p class="text-justify">La revisión de los títulos se lleva a cabo en dos fases:</p>
            </div>
            <div class="col-md-12">
                <ol type="a">
                    <li style="font-weight: 600;"><h6>Primera fase de preselección</h6></li>
                    <p class="text-justify">Los libros son valorados de manera individual, implica la mirada del libro en sí mismo y respecto de otros de su misma categoría. Se evalúa en cada título calidad literaria y de la ilustración, calidad editorial, pertinencia y tratamiento del tema y congruencia con la propuesta educativa vigente.</p>
                </ol>	
                <ol type="a" start="2">
                    <li style="font-weight: 600;"><h6>Segunda fase de preselección</h6></li>
                    <p class="text-justify">Los libros se miran en conjunto y con la finalidad de construir un acervo que además de responder a los intereses y necesidades de estudiantes y maestros, forme parte de una colección integral de Libros del Rincón. Se realiza un trabajo colectivo donde es posible una mirada múltiple del libro. Bajo estos criterios, se observa que se traten de obras que permitan establecer vínculos hipertextuales, que tengan aportes novedosos para diversificar la colección existente, que promuevan vínculos significativos con manifestaciones culturales del país y que demuestren su vigencia.</p>
                    <p class="text-justify">Al finalizar la etapa de preselección de títulos, la Secretaría edita un catálogo de selección que ofrece información sobre los títulos preseleccionados. Está organizado por nivel educativo y grado; de acuerdo con su género (informativo o literario) y categoría. Contiene un índice, folio, ficha bibliográfica y reseña de cada título. Se incluye la portada de los títulos con el fin de aproximarse a la muestra física de los libros que conforman el catálogo.</p>
                </ol>
            </div>

        </div>

        <!--Contenido-->
        <div class="row">

            
        </div>
    </div>
</div>