<div class="container" style="padding-top: 30px;">
    <h3 class="h3 text-left mb-2"> <a [routerLink]="['/inicio']"><i class="fas fa-home text-dark"></i></a>&nbsp;&nbsp; Archivo histórico</h3>
    <hr class="my-3">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-4">
            <!-- Card -->
            <div class="card mb-4">

                <!-- Card image -->
                <div>
                    <img class="card-img-top" src="/assets/img/img-convocatorias.jpg" alt="Card image cap">
                    <a [routerLink]="['convocatorias']">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <!-- Button -->
                <a [routerLink]="['convocatorias']" class="btn-floating btn-action ml-auto mr-4 orange darken-4"><i
        class="fas fa-chevron-right pl-1"></i></a>
                <!-- Card content -->
                <div class="card-body">
                    <!-- Title -->
                    <a [routerLink]="['convocatorias']">
                        <h6 class="card-title text-uppercase">Convocatorias</h6>
                    </a>
                </div>
            </div>
            <!-- Card -->
        </div>

        <div class="col-lg-4">
            <!-- Card -->
            <div class="card mb-4">

                <!-- Card image -->
                <div>
                    <img class="card-img-top" src="/assets/img/img-sobre-libro.jpg" alt="Card image cap">
                    <a [routerLink]="['sobre-libro']">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <!-- Button -->
                <a [routerLink]="['sobre-libro']" class="btn-floating btn-action ml-auto mr-4 orange darken-4"><i
        class="fas fa-chevron-right pl-1"></i></a>
                <!-- Card content -->
                <div class="card-body">
                    <!-- Title -->
                    <a [routerLink]="['sobre-libro']">
                        <h6 class="card-title text-uppercase">Sobre el libro y la lectura</h6>
                    </a>
                </div>
            </div>
            <!-- Card -->
        </div>
    </div>

    <div class="row">
        <div class="col-lg-2"></div>
    
        <div class="col-lg-4">
            <!-- Card -->
            <div class="card mb-4">

                <!-- Card image -->
                <div>
                    <img class="card-img-top" src="/assets/img/img-estrategias.jpg" alt="Card image cap">
                    <a [routerLink]="['estrategias-lectura']">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <!-- Button -->
                <a [routerLink]="['estrategias-lectura']" class="btn-floating btn-action ml-auto mr-4 orange darken-4"><i
        class="fas fa-chevron-right pl-1"></i></a>
                <!-- Card content -->
                <div class="card-body">
                    <!-- Title -->
                    <a [routerLink]="['estrategias-lectura']">
                        <h6 class="card-title text-uppercase">Estrategias de lectura <br>y de escritura</h6>
                    </a>
                </div>
            </div>
            <!-- Card -->
        </div>


        <div class="col-lg-4">
            <!-- Card -->
            <div class="card mb-4">

                <!-- Card image -->
                <div>
                    <img class="card-img-top" src="/assets/img/img-mediateca.jpg" alt="Card image cap">
                    <a [routerLink]="['mediateca']">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <!-- Button -->
                <a [routerLink]="['mediateca']" class="btn-floating btn-action ml-auto mr-4 orange darken-4"><i
        class="fas fa-chevron-right pl-1"></i></a>
                <!-- Card content -->
                <div class="card-body">
                    <!-- Title -->
                    <a [routerLink]="['mediateca']">
                        <h6 class="card-title text-uppercase">Mediateca</h6>
                    </a>
                </div>
            </div>
            <!-- Card -->
        </div>
    </div>

</div>
<br><br>