<div class="wrapper">
    <!-- Sidebar Holder -->
    <app-sidebar-alumnos></app-sidebar-alumnos>

    <!-- Page Content Holder -->
    <div id="content">
        <button type="button" id="sidebarCollapse" class="navbar-btn">
            <span></span>
            <span></span>
            <span></span>
        </button>

    <div class="row mt-4">
        <div class="col-md-5">
            <h2 class="font-weight-bold">Caminos de lectura
            <hr class="my-4 linea1">
            </h2>            
        </div>
        <div class="col-md-7">
            <p class="text-justify">Los caminos de lectura son rutas temáticas vinculadas con la finalidad de que conozcas y disfrutes de tus libros de lectura así como de los acervos de tu biblioteca escolar y de aula.</p>
            <p class="text-justify">De las rutas sugeridas, puedes escoger alguna que te llame la atención, invitar a tus amigas y amigos a comparar sus favoritas y conocer muchas más. Puedes seguir los pasos de las rimas, las huellas del humor o la línea de las preguntas y respuestas. Aquí hay algunos caminos, pero pueden ser tantos como la imaginación sea capaz de tender vínculos y relaciones. Comparte tus favoritos, o crea nuevas rutas, tú pones la imaginación.</p>
        </div>

    </div>


                <!--Catálogos-->
                <div class=" my-4 pt-4 d-none">
                    <div class="accordion md-accordion z-depth-1" id="accordionCat" role="tablist" aria-multiselectable="true">
                    
                      <!-- Accordion card -->
                      <div class="card">
                    
                        <!-- Card header -->
                        <div class="card-header" style="background-color: #ffead8;"  role="tab" id="headingCat1">
                          <a class="collapsed" data-toggle="collapse" data-parent="#accordionCat" href="#collapseCat1"
                            aria-expanded="false" aria-controls="collapseCat1">
                            <h5 class="mb-0 font-weight-bold brown-text">
                              Catálogo histórico <i class="fas fa-angle-down rotate-icon"></i>
                            </h5>
                          </a>
                        </div>
                    
                        <!-- Card body -->
                        <div id="collapseCat1" class="collapse" role="tabpanel" aria-labelledby="headingCat1"
                          data-parent="#accordionCat">
                          <div class="card-body">
                                  <div class="table-wrapper-scroll-y my-custom-scrollbar m-4 py-3">
          
                                    <table class="table table-hover mb-0">
                                      <thead>
                                        <tr>
                                          <th scope="col">#</th>
                                          <th scope="col">Documento PDF</th>
                                          <th scope="col">Descarga</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <tr>
                                          <th scope="row">1</th>
                                          <td>2007-2012 HISTÓRICO</td>
                                          <td><a href="../../../assets/pdf/acervos/cat-historico/2007-2012/historico.pdf"><i class="fas fa-download"></i></a></td>
                                        </tr>
                                        <tr>
                                          <th scope="row">2</th>
                                          <td>1986-2006 PREESCOLAR</td>
                                          <td><a href="../../../assets/pdf/acervos/cat-historico/1986-2006/preescolar.pdf"><i class="fas fa-download"></i></a></td>
                                        </tr>
                                        <tr>
                                          <th scope="row">3</th>
                                          <td>1986-2006 PRIMARIA</td>
                                          <td><a href="../../../assets/pdf/acervos/cat-historico/1986-2006/primaria.pdf"><i class="fas fa-download"></i></a></td>
                                        </tr>
                                        <tr>
                                          <th scope="row">4</th>
                                          <td>1986-2006 SECUNDARIA</td>
                                          <td><a href="../../../assets/pdf/acervos/cat-historico/1986-2006/secundaria.pdf"><i class="fas fa-download"></i></a></td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  
                                  </div>
                          </div>
          
                        </div>
                    
                      </div>
                      <!-- Accordion card -->
                    
          
                    </div>



</div>
