<div class="wrapper">
    <!-- Sidebar Holder -->
    <app-sidebar-archivos></app-sidebar-archivos>

    <!-- Page Content Holder -->
    <div id="content">
        <button type="button" id="sidebarCollapse" class="navbar-btn">
            <span></span>
            <span></span>
            <span></span>
        </button>

        <!--Intro-->
        <div class="row mt-4">
            <div class="col-md-5">
                <h2 class="font-weight-bold">Convocatorias
                <hr class="my-4 linea1">
                </h2>            
            </div>

            <div class="col-md-7">
              <p class="text-justify">La Secretaría de Educación Pública a través de la Dirección General de Materiales Educativos de
                  la Secretaría de Educación Básica, publica una Convocatoria para la selección de Libros del
                  Rincón para la Colección de las Bibliotecas Escolares y de Aula de las escuelas públicas de
                  educación básica. En ella, se especifican las bases para que titulares de los derechos
                  patrimoniales o sus representantes legales presenten los títulos susceptibles de incorporarse a
                  la colección Libros del Rincón.</p>
            </div>

            <div class="col-12">
              <p class="text-justify">En el año 2003, se publicó por primera vez la Convocatoria para la selección de Libros del
                  Rincón para las Bibliotecas de Aula de las escuelas públicas de educación básica, ciclo escolar
                  2003-2004, año en el que el proceso de conformación de acervos se realizó sólo para
                  Bibliotecas de Aula. El proceso se generalizó e incluyó las Bibliotecas Escolares a partir de 2004.</p>
                  <p class="text-justify">Para la conformación de la Colección Bilingüe para Bibliotecas Escolares y de Aula, desde 2005
                  la convocatoria especifica la adquisición de títulos para esta colección, invitando así a autores y
                  editores a que ingresen títulos escritos en español y al menos una de las lenguas indígenas que
                  se hablan en México, para que sean valorados y –en el caso de ser seleccionados– incluidos en
                  los acervos.</p>
                  <p class="text-justify">Con la finalidad de incluir textos con contenidos más cercanos a las realidades locales de las
                  diferentes entidades federativas, a partir de 2006 y hasta el 2013 se incluyó la participación de
                  producciones estatales para conformar la Colección Libros del Rincón.
                  <p class="text-justify">Para el periodo escolar 2018-2019, la Secretaría de Educación Pública, hizo pública la
                  Convocatoria para la selección de materiales de lectura del Nuevo Modelo Educativo, con la
                  finalidad de conformar un paquete didáctico de materiales educativos que fueron distribuidos
                  a las escuelas públicas de educación básica.</p>
            </div>

        </div>

        <!--Catálogos-->
        <div class="my-4 pt-4">
          <div class="accordion md-accordion z-depth-1" id="accordionCat" role="tablist" aria-multiselectable="true">

            <!-- Accordion card -->
            <div class="card">
          
              <!-- Card header -->
              <div class="card-header" style="background-color: #ffead8;" role="tab" id="headingCat1">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordionCat" href="#collapseCat1" aria-expanded="false"
                  aria-controls="collapseCat1">
                  <h5 class="mb-0 font-weight-bold brown-text">
                    Convocatorias<i class="fas fa-angle-down rotate-icon"></i>
                  </h5>
                </a>
              </div>
          
              <!-- Card body -->
              <div id="collapseCat1" class="collapse" role="tabpanel" aria-labelledby="headingCat1"
                data-parent="#accordionCat">
                <div class="card-body">

                        <div class="table-wrapper-scroll-y my-custom-scrollbar m-4 py-3">

                          <table class="table table-hover mb-0">
                            <thead>
                              <tr>
                                <th scope="col">#</th>
                                <th scope="col">Documento PDF</th>
                                <th scope="col">Descarga</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <th scope="row">1</th>
                                <td>Convocatoria 2019</td>
                                <td><a href="/assets/pdf/05-Archivo-historico/01-Convocatorias/01-Convocatoria_2019.pdf"><i class="fas fa-download"></i></a></td>
                              </tr>
                              <tr>
                                <th scope="row">2</th>
                                <td>Convocatoria 2017</td>
                                <td><a href="/assets/pdf/05-Archivo-historico/01-Convocatorias/02-Convocatoria_2017.pdf"><i class="fas fa-download"></i></a></td>
                              </tr>
                              <tr>
                                <th scope="row">3</th>
                                <td>Convocatoria 2015</td>
                                <td><a href="/assets/pdf/05-Archivo-historico/01-Convocatorias/03-Convocatoria_2015.pdf"><i class="fas fa-download"></i></a></td>
                              </tr>
                              <tr>
                                <th scope="row">4</th>
                                <td>Convocatoria 2014</td>
                                <td><a href="/assets/pdf/05-Archivo-historico/01-Convocatorias/04-Convocatoria_2014.pdf"><i class="fas fa-download"></i></a></td>
                              </tr>
                              <tr>
                                <th scope="row">5</th>
                                <td>Convocatoria 2013</td>
                                <td><a href="/assets/pdf/05-Archivo-historico/01-Convocatorias/05-Convocatoria_2013.pdf"><i class="fas fa-download"></i></a></td>
                              </tr>
                              <tr>
                                <th scope="row">6</th>
                                <td>Convocatoria 2012</td>
                                <td><a href="/assets/pdf/05-Archivo-historico/01-Convocatorias/06-Convocatoria_2012.pdf"><i class="fas fa-download"></i></a></td>
                              </tr>
                              <tr>
                                <th scope="row">7</th>
                                <td>Convocatoria 2011</td>
                                <td><a href="/assets/pdf/05-Archivo-historico/01-Convocatorias/07-Convocatoria_2011.pdf"><i class="fas fa-download"></i></a></td>
                              </tr>
                              <tr>
                                <th scope="row">8</th>
                                <td>Convocatoria 2010</td>
                                <td><a href="/assets/pdf/05-Archivo-historico/01-Convocatorias/08-Convocatoria_2010.pdf"><i class="fas fa-download"></i></a></td>
                              </tr>
                              <tr>
                                <th scope="row">9</th>
                                <td>Convocatoria 2009</td>
                                <td><a href="/assets/pdf/05-Archivo-historico/01-Convocatorias/09-Convocatoria_2009.pdf"><i class="fas fa-download"></i></a></td>
                              </tr>
                              <tr>
                                <th scope="row">10</th>
                                <td>Convocatoria 2008</td>
                                <td><a href="/assets/pdf/05-Archivo-historico/01-Convocatorias/10-Convocatoria_2008.pdf"><i class="fas fa-download"></i></a></td>
                              </tr>
                              <tr>
                                <th scope="row">11</th>
                                <td>Convocatoria 2007 BA</td>
                                <td><a href="/assets/pdf/05-Archivo-historico/01-Convocatorias/11-Convocatoria_BA_2007.pdf"><i class="fas fa-download"></i></a></td>
                              </tr>
                              <tr>
                                <th scope="row">12</th>
                                <td>Convocatoria 2007 BE</td>
                                <td><a href="/assets/pdf/05-Archivo-historico/01-Convocatorias/12-Convocatoria_BE_2007.pdf"><i class="fas fa-download"></i></a></td>
                              </tr>
                              <tr>
                                <th scope="row">13</th>
                                <td>Convocatoria 2006</td>
                                <td><a href="/assets/pdf/05-Archivo-historico/01-Convocatorias/13-Convocatoria_2006.pdf"><i class="fas fa-download"></i></a></td>
                              </tr>
                              <tr>
                                <th scope="row">14</th>
                                <td>Convocatoria 2005</td>
                                <td><a href="/assets/pdf/05-Archivo-historico/01-Convocatorias/14-Convocatoria_2005.pdf"><i class="fas fa-download"></i></a></td>
                              </tr>
                              <tr>
                                <th scope="row">15</th>
                                <td>Convocatoria 2004</td>
                                <td><a href="/assets/pdf/05-Archivo-historico/01-Convocatorias/15-Convocatoria_2004.pdf"><i class="fas fa-download"></i></a></td>
                              </tr>
                              <tr>
                                <th scope="row">16</th>
                                <td>Convocatoria 2003</td>
                                <td><a href="/assets/pdf/05-Archivo-historico/01-Convocatorias/16-Convocatoria_2003.pdf"><i class="fas fa-download"></i></a></td>
                              </tr>
                            </tbody>
                          </table>
                        
                        </div>
              </div>
          
            </div>
            </div>
            <!-- Accordion card -->
          

          </div>
        </div>
    </div>
</div>