<div class="wrapper">
    <!-- Sidebar Holder -->
    <app-sidebar></app-sidebar>

    <!-- Page Content Holder -->
    <div id="content">
        <button type="button" id="sidebarCollapse" class="navbar-btn">
            <span></span>
            <span></span>
            <span></span>
        </button>

    <div class="row mt-4">
        <div class="col-md-5">
            <h2 class="font-weight-bold">Títulos bilingües
            <hr class="my-4 linea1">
            </h2>            
        </div>

        <div class="col-md-7">
            <p class="text-justify">Desde el 2002 la colección Libros del Rincón cuenta con materiales bilingües, textos en alguna de las lenguas indígenas que se hablan en México y en español. Conforman una propuesta que acerca a los estudiantes una posibilidad de conocer y valorar la riqueza cultural y lingüística de nuestro país, permitiéndoles reforzar su identidad como habitantes de una nación multicultural.</p>
            <p class="text-justify">Es importante señalar que con el apoyo de los acervos que conforman las Bibliotecas Escolares y de Aula, los niños, niñas y jóvenes están en mejores condiciones de desarrollar la capacidad de conocer y valorar la diversidad étnica, lingüística y cultural de México.</p>
            </div>
    <div class="col-12">
      <p class="text-justify">La selección de los libros bilingües se realiza de acuerdo con los criterios que se establecen en la Convocatoria para la Selección de Libros del Rincón: Bibliotecas Escolares y de Aula de las escuelas públicas de educación básica y que año con año, se da a conocer en el portal de la Subsecretaría de Educación Básica. Se centra en incorporar títulos de calidad cuyos contenidos, escritos en al menos alguna de las 68 variantes lingüísticas, permitan construir un puente para que la riqueza cultural de los diferentes pueblos indígenas de México se comparta en todas las escuelas y aulas del país.</p>
            <p class="text-justify">Los libros Bilingües son clasificados de acuerdo con las series de los Libros del Rincón: Al sol solito, para los más pequeños; Pasos de luna, para los que empiezan a leer; Astrolabio, para los que leen con fluidez, y Espejo de Urania, para los lectores autónomos. Estas series son utilizadas en diferentes grados escolares e incluso en diferentes niveles educativos. De esta manera, alumnos, maestros y todos los miembros de la comunidad educativa identifican los textos dentro de las múltiples visiones y voces que se representan en la colección.</p>
            <p class="text-justify">La valoración y selección de los libros bilingües que forman parte de los acervos de las Bibliotecas Escolares y de Aula se realiza a través de un comité conformado por representantes de la Dirección General de Materiales Educativos (DGME), de la Coordinación General de Educación Intercultural y Bilingüe (CGEIB), de la Dirección General de Educación Indígena (DGEI), del Consejo Nacional de Fomento Educativo (CONAFE), del Instituto Nacional de Lenguas Indígenas (INALI), de la Dirección General de Culturas Populares (DGCP) y del Instituto Nacional de los Pueblos Indígenas (INPI).</p>
            <p class="text-justify">Se incluyen títulos que dan cuenta tanto de situaciones cercanas a los alumnos como de otras realidades, lo que permite a los lectores reconocerse en la lectura por sí mismos y también en compañía de otros lectores.</p> 
       
    </div>

    <div class="container my-3">


    <!--Accordion wrapper-->
    <div class="accordion md-accordion z-depth-1" id="accordionEx" role="tablist" aria-multiselectable="true">

    <!-- Accordion card -->
    <div class="card">
  
      <!-- Card header -->
      <div class="card-header" style="border-bottom: #ad542c 2px solid; background-color: #ffead8;" role="tab" id="headingOne1">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="false"
          aria-controls="collapseOne1">
          <h5 class="mb-0 font-weight-bold brown-text">
            Títulos bilingües seleccionados para la Biblioteca Escolar <i class="fas fa-angle-down rotate-icon"></i>
          </h5>
        </a>
      </div>
  
      <!-- Card body -->
      <div id="collapseOne1" class="collapse" role="tabpanel" aria-labelledby="headingOne1"
        data-parent="#accordionEx">
        <div class="table-wrapper-scroll-y my-custom-scrollbar m-4 py-3">
            <!--Table-->
            <table class="table">
    <!--Table head-->
      <thead>
        <tr>
          <th>#</th>
          <th>Documento PDF</th>
          <th>Descarga</th>
        </tr>
      </thead>
      <!--Table head-->
      <!--Table body-->
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Bilingües BE 2019</td>
          <td><a href="/assets/pdf/01-Conoce-tus-Acervos/06-Titulos-Bilingues/01-Bilin_BE_2019.pdf"><i class="fas fa-download blue-grey-text"></i></a></td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Bilingües BE 2016</td>
          <td><a href="/assets/pdf/01-Conoce-tus-Acervos/06-Titulos-Bilingues/02-Bilin_BE_2016.pdf"><i class="fas fa-download blue-grey-text"></i></a></td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Bilingües BE 2014</td>
          <td><a href="/assets/pdf/01-Conoce-tus-Acervos/06-Titulos-Bilingues/03-Bilin_BE_2014.pdf"><i class="fas fa-download blue-grey-text"></i></a></td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td>Bilingües BE 2013</td>
          <td><a href="/assets/pdf/01-Conoce-tus-Acervos/06-Titulos-Bilingues/04-Bilin_BE_2013.pdf"><i class="fas fa-download blue-grey-text"></i></a></td>
        </tr>
        <tr>
          <th scope="row">5</th>
          <td>Bilingües BE 2012</td>
          <td><a href="/assets/pdf/01-Conoce-tus-Acervos/06-Titulos-Bilingues/05-Bilin_BE_2012.pdf"><i class="fas fa-download blue-grey-text"></i></a></td>
        </tr>
        <tr>
            <th scope="row">6</th>
            <td>Bilingües BE 2011</td>
            <td><a href="/assets/pdf/01-Conoce-tus-Acervos/06-Titulos-Bilingues/06-Bilin_BE_2011.pdf"><i class="fas fa-download blue-grey-text"></i></a></td>
          </tr>
          <tr>
            <th scope="row">7</th>
            <td>Bilingües BE 2010</td>
            <td><a href="/assets/pdf/01-Conoce-tus-Acervos/06-Titulos-Bilingues/07-Bilin_BE_2010.pdf"><i class="fas fa-download blue-grey-text"></i></a></td>
          </tr>
          <tr>
            <th scope="row">8</th>
            <td>Bilingües BE 2009</td>
            <td><a href="/assets/pdf/01-Conoce-tus-Acervos/06-Titulos-Bilingues/08-Bilin_BE_2009.pdf"><i class="fas fa-download blue-grey-text"></i></a></td>
          </tr>
          <tr>
            <th scope="row">9</th>
            <td>Bilingües BE 2008</td>
            <td><a href="/assets/pdf/01-Conoce-tus-Acervos/06-Titulos-Bilingues/09-Bilin_BE_2008.pdf"><i class="fas fa-download blue-grey-text"></i></a></td>
          </tr>
          <tr>
            <th scope="row">10</th>
            <td>Bilingües BE 2007</td>
            <td><a href="/assets/pdf/01-Conoce-tus-Acervos/06-Titulos-Bilingues/10-Bilin_BE_2007.pdf"><i class="fas fa-download blue-grey-text"></i></a></td>
          </tr>
          <tr>
            <th scope="row">11</th>
            <td>Bilingües BE 2005</td>
            <td><a href="/assets/pdf/01-Conoce-tus-Acervos/06-Titulos-Bilingues/11-Bilin_BE_2005.pdf"><i class="fas fa-download blue-grey-text"></i></a></td>
          </tr>
          <tr>
            <th scope="row">12</th>
            <td>Bilingües BE 2004</td>
            <td><a href="/assets/pdf/01-Conoce-tus-Acervos/06-Titulos-Bilingues/12-Bilin_BE_2004.pdf"><i class="fas fa-download blue-grey-text"></i></a></td>
          </tr>
          <tr>
            <th scope="row">13</th>
            <td>Bilingües BE 2003</td>
            <td><a href="/assets/pdf/01-Conoce-tus-Acervos/06-Titulos-Bilingues/13-Bilin_BE_2003.pdf"><i class="fas fa-download blue-grey-text"></i></a></td>
          </tr>
          <tr>
            <th scope="row">14</th>
            <td>Bilingües BE 2002</td>
            <td><a href="/assets/pdf/01-Conoce-tus-Acervos/06-Titulos-Bilingues/14-Bilin_BE_2002.pdf"><i class="fas fa-download blue-grey-text"></i></a></td>
          </tr>
      </tbody>
      <!--Table body-->
            </table>
            <!--Table-->
      </div>
  
    </div>
    <!-- Accordion card -->
  
    <!-- Accordion card -->
    <div class="card">
  
      <!-- Card header -->
      <div class="card-header" style="background-color: #ffead8;" role="tab" id="headingTwo2">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseTwo2"
          aria-expanded="false" aria-controls="collapseTwo2">
          <h5 class="mb-0 font-weight-bold brown-text">
            Títulos bilingües seleccionados para la Biblioteca del Aula <i class="fas fa-angle-down rotate-icon"></i>
          </h5>
        </a>
      </div>
  
      <!-- Card body -->
      <div id="collapseTwo2" class="collapse" role="tabpanel" aria-labelledby="headingTwo2"
        data-parent="#accordionEx">
        <div class="card-body">
            <!--Table-->
            <table class="table">
    <!--Table head-->
      <thead>
        <tr>
          <th>#</th>
          <th>Documento PDF</th>
          <th>Descarga</th>
        </tr>
      </thead>
      <!--Table head-->
      <!--Table body-->
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Bilingües BA 2006</td>
          <td><a href="/assets/pdf/01-Conoce-tus-Acervos/06-Titulos-Bilingues/02-Bilingues_BA/01-Bilin_BA_2006.pdf"><i class="fas fa-download blue-grey-text"></i></a></td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Bilingües BA 2005</td>
          <td><a href="/assets/pdf/01-Conoce-tus-Acervos/06-Titulos-Bilingues/02-Bilingues_BA/02-Bilin_BA_2005.pdf"><i class="fas fa-download blue-grey-text"></i></a></td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Bilingües BA 2002</td>
          <td><a href="/assets/pdf/01-Conoce-tus-Acervos/06-Titulos-Bilingues/02-Bilingues_BA/03-Bilin_BA_2002.pdf"><i class="fas fa-download blue-grey-text"></i></a></td>
        </tr>
      </tbody>
      <!--Table body-->
            </table>
            <!--Table-->
        </div>
      </div>
  
    </div>
    <!-- Accordion card -->
  
  
    </div>


    </div>



</div>