<div class="wrapper">
    <!-- Sidebar Holder -->
    <app-sidebar-proceso></app-sidebar-proceso>

    <!-- Page Content Holder -->
    <div id="content">
        <button type="button" id="sidebarCollapse" class="navbar-btn">
            <span></span>
            <span></span>
            <span></span>
        </button>

        <!--Intro-->
        <div class="row mt-4">
            <div class="col-md-5">
                <h2 class="font-weight-bold">Selección
                <hr class="my-4 linea1">
                </h2>            
            </div>

            <div class="col-md-7">
                <p class="text-justify">En esta última etapa, representantes de las 32 entidades federativas, definen en una Reunión Nacional, los títulos que serán parte de los acervos de Bibliotecas Escolares y de Aula. Cada entidad presenta su propuesta con base en las consultas sobre intereses y necesidades lectoras que realizaron a directivos, docentes, alumnos y padres de familia de su estado.</p>
                <p class="text-justify">La etapa de selección se realiza en dos grandes momentos:</p>
            </div>
            <div class="col-md-12">
                <ol type="a">
                    <li style="font-weight: 600;"><h6>Revisión estatal</h6></li>
                    <p class="text-justify">Las entidades federativas reciben el Catálogo de Selección así como la muestra física de cada uno de los libros que lo integran, con la finalidad de llevar a cabo las consultas sobre intereses y necesidades lectoras.</p>
                    <p class="text-justify">Las consultas tienen carácter formativo para los participantes, ya que durante la revisión y lectura de los libros, permite que conozcan diferentes estéticas, autores y formatos.</p>
                    <p class="text-justify">Para realizar las consultas, las autoridades educativas de cada entidad, designan un responsable, mismo que establece la logística y convoca a los miembros de la comunidad educativa que participa: supervisores, asesores técnico-pedagógicos, directores, docentes, padres de familia y alumnos.</p>
                </ol>	
                <ol type="a" start="2">
                    <li style="font-weight: 600;"><h6>Definición de los títulos</h6></li>
                    <p class="text-justify">La selección final para definir los títulos que formarán parte de la colección Libros del Rincón, se realiza en una Reunión Nacional con representantes de cada entidad federativa, nombrados por la Autoridad Educativa Estatal, mediante un diálogo argumentado con representantes de otras entidades federativas del país y con base en las consultas sobre intereses y necesidades lectoras. </p>
                </ol>
            </div>

        </div>

    </div>
</div>