/* You can add global styles to this file, and also import other style files */
/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    perspective: 1500px;
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

#sidebarCollapse {
    width: 40px;
    height: 40px;
    background: #009688;
    cursor: pointer;
    border-radius: 20px;
    border: 2px solid #004d40;
}

#sidebarCollapse span {
    width: 80%;
    height: 2px;
    margin: 0 auto;
    display: block;
    background: #fff;
    transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
    transition-delay: 0.2s;
}

#sidebarCollapse span:first-of-type {
    transform: rotate(45deg) translate(2px, 2px);
}

#sidebarCollapse span:nth-of-type(2) {
    opacity: 0;
}

#sidebarCollapse span:last-of-type {
    transform: rotate(-45deg) translate(1px, -1px);
}

#sidebarCollapse.active span {
    transform: none;
    opacity: 1;
    margin: 5px auto;
}


/* TABLAS */
.my-custom-scrollbar {
    position: relative;
    height: 260px;
    overflow: auto;
    }
    .table-wrapper-scroll-y {
    display: block;
    }

    /* MAIN RESPONSIVE */
    

    main {
        background-image: url('./assets/img/forma.png');
        background-repeat: no-repeat;
        background-size: contain;
        width: auto;
        height: inherit;
    }

    body, h1, h2, h3, h4, h5, h6, p {
        color: #000;
    }

