<div class="wrapper">
    <!-- Sidebar Holder -->
    <app-sidebar></app-sidebar>

    <!-- Page Content Holder -->
    <div id="content">

        <button type="button" id="sidebarCollapse" class="navbar-btn">
            <span></span>
            <span></span>
            <span></span>
        </button>

    <div class="row mt-4">
        <div class="col-md-5">
            <h2 class="font-weight-bold">Catálogo histórico
            <hr class="my-4 linea1">
            </h2>            
        </div>
        <div class="col-md-7">
            <p class="text-justify">Para recuperar la trayectoria de la colección Libros del Rincón se han integrado dos catálogos históricos, 
                que reúnen los títulos de esta colección, desde 1986 hasta 2006 y del 2007 al 2012, con el propósito de ofrecer a la comunidad 
                educativa y al público en general una guía de los títulos que se encuentran en las escuelas públicas de educación preescolar, 
                primaria y secundaria.</p>
        </div>
        <div class="col-12">
              <p class="text-justify">El catálogo histórico de 1986 a 2006 está dividido en tres tomos, uno por nivel educativo, de tal manera que 
                en su conjunto conforman la relación total de los títulos de la colección Libros del Rincón.</p>
                
                <p class="text-justify">El catálogo histórico correspondiente al periodo 2007-2012 reúne en un solo tomo los títulos que conforman 
                  los acervos de Bibliotecas Escolares y Bibliotecas de Aula de los tres niveles educativos, así como los de producción estatal y bilingüe.</p>
                
                <p class="text-justify">Te invitamos a que los consultes para recuperar la memoria y conocer el desarrollo de un acervo bibliográfico 
                    que ha estado presente desde hace tres décadas en las escuelas de educación básica.</p>
        </div>

    </div>


                <!--Catálogos-->
                <div class=" my-4 pt-4">
                    <div class="accordion md-accordion z-depth-1" id="accordionCat" role="tablist" aria-multiselectable="true">
                    
                      <!-- Accordion card -->
                      <div class="card">
                    
                        <!-- Card header -->
                        <div class="card-header" style="background-color: #ffead8;"  role="tab" id="headingCat1">
                          <a class="collapsed" data-toggle="collapse" data-parent="#accordionCat" href="#collapseCat1"
                            aria-expanded="false" aria-controls="collapseCat1">
                            <h5 class="mb-0 font-weight-bold brown-text" id="#top">
                              Catálogo histórico <i class="fas fa-angle-down rotate-icon"></i>
                            </h5>
                          </a>
                        </div>
                    
                        <!-- Card body -->
                        <div id="collapseCat1" class="collapse" role="tabpanel" aria-labelledby="headingCat1"
                          data-parent="#accordionCat">
                          <div class="card-body">
                                  <div class="table-wrapper-scroll-y my-custom-scrollbar m-4 py-3">
          
                                    <table class="table table-hover mb-0">
                                      <thead>
                                        <tr>
                                          <th scope="col">#</th>
                                          <th scope="col">Documento PDF</th>
                                          <th scope="col">Descarga</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <tr>
                                          <th scope="row">1</th>
                                          <td>2007-2012 HISTÓRICO</td>
                                          <td><a href="/assets/pdf/01-Conoce-tus-Acervos/09-Catalogo-historico/01-2007-2012_HISTORICO.pdf"><i class="fas fa-download"></i></a></td>
                                        </tr>
                                        <tr>
                                          <th scope="row">2</th>
                                          <td>1986-2006 PREESCOLAR</td>
                                          <td><a href="/assets/pdf/01-Conoce-tus-Acervos/09-Catalogo-historico/02-1986-2006_PREESCOLAR.pdf"><i class="fas fa-download"></i></a></td>
                                        </tr>
                                        <tr>
                                          <th scope="row">3</th>
                                          <td>1986-2006 PRIMARIA</td>
                                          <td><a href="/assets/pdf/01-Conoce-tus-Acervos/09-Catalogo-historico/03-1986-2006_PRIMARIA.pdf"><i class="fas fa-download"></i></a></td>
                                        </tr>
                                        <tr>
                                          <th scope="row">4</th>
                                          <td>1986-2006 SECUNDARIA</td>
                                          <td><a href="/assets/pdf/01-Conoce-tus-Acervos/09-Catalogo-historico/04-1986-2006_SECUNDARIA.pdf"><i class="fas fa-download"></i></a></td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  
                                  </div>
                          </div>
          
                        </div>
                    
                      </div>
                      <!-- Accordion card -->
                    
          
                    </div>

</div>
