<div class="wrapper">
    <!-- Sidebar Holder -->
    <app-sidebar-docentes></app-sidebar-docentes>

    <!-- Page Content Holder -->
    <div id="content">
        <button type="button" id="sidebarCollapse" class="navbar-btn">
            <span></span>
            <span></span>
            <span></span>
        </button>

    <div class="row mt-4">
        <div class="col-md-5">
            <h2 class="font-weight-bold">Materiales educativos para el docente
            <hr class="my-4 linea1">
            </h2>            
        </div>
        <div class="col-md-7">
            <p class="text-center" style="font-style: italic;">¡Bienvenida! ¡Bienvenido!</p>
            <p class="text-justify">La Dirección de Bibliotecas y Promoción de la Lectura de la Dirección General de Materiales Educativos, pone a su disposición documentos en torno a la cultura escrita, con la finalidad de que le sirvan de apoyo en su práctica pedagógica y en la formación de lectores y escritores.</p>
            <p class="text-justify">Esperamos que estos materiales sean de gran ayuda y le faciliten su tarea como docente.</p>

        </div>     

    </div>

                    <div class="my-4 pt-4 d-none">


                        <!--Accordion wrapper-->
                        <div class="accordion md-accordion z-depth-1" id="accordionEx" role="tablist" aria-multiselectable="true">
                    
                        <!-- Accordion card -->
                        <div class="card">
                      
                          <!-- Card header -->
                          <div class="card-header" style="border-bottom: #ad542c 2px solid; background-color: #ffead8;" role="tab" id="headingOne1">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="true"
                              aria-controls="collapseOne1">
                              <h5 class="mb-0 font-weight-bold brown-text">
                                Bibliotecas distribuidas <i class="fas fa-angle-down rotate-icon"></i>
                              </h5>
                            </a>
                          </div>
                      
                          <!-- Card body -->
                          <div id="collapseOne1" class="collapse" role="tabpanel" aria-labelledby="headingOne1"
                            data-parent="#accordionEx">
                            <div class="table-wrapper-scroll-y my-custom-scrollbar m-4 py-3">
            
                                <table class="table table-hover mb-0">
                                  <thead>
                                    <tr>
                                      <th scope="col">#</th>
                                      <th scope="col">Documento PDF</th>
                                      <th scope="col">Descarga</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <th scope="row">1</th>
                                      <td>Catálogo ML-NME 2018-2019</td>
                                      <td><a href="/assets/pdf/acervos/cat-seleccion/2018-2019.pdf"><i class="fas fa-download"></i></a></td>
                                    </tr>
                                    <tr>
                                      <th scope="row">2</th>
                                      <td>Catálogo 2016-2017</td>
                                      <td><a href="/assets/pdf/acervos/cat-seleccion/2016-2017.pdf"><i class="fas fa-download"></i></a></td>
                                    </tr>
                                    <tr>
                                      <th scope="row">3</th>
                                      <td>Catálogo 2014-2015</td>
                                      <td><a href="/assets/pdf/acervos/cat-seleccion/2014-2015.pdf"><i class="fas fa-download"></i></a></td>
                                      
                                    </tr>
                                    <tr>
                                      <th scope="row">4</th>
                                      <td>Catálogo 2013-2014</td>
                                      <td><a href="/assets/pdf/acervos/cat-seleccion/2013-2014.pdf"><i class="fas fa-download"></i></a></td>
                                      
                                    </tr>
                                    <tr>
                                      <th scope="row">5</th>
                                      <td>Catálogo 2012-2013</td>
                                      <td><a href="/assets/pdf/acervos/cat-seleccion/2012-2013.pdf"><i class="fas fa-download"></i></a></td>
                                      
                                    </tr>
                                    <tr>
                                      <th scope="row">6</th>
                                      <td>Catálogo 2011-2012</td>                               
                                      <td><a href="/assets/pdf/acervos/cat-seleccion/2011-2012.pdf"><i class="fas fa-download"></i></a></td>
                                    </tr>
                                    <tr>
                                      <th scope="row">7</th>
                                      <td>Catálogo 2010-2011</td>                               
                                      <td><a href="/assets/pdf/acervos/cat-seleccion/2010-2011.pdf"><i class="fas fa-download"></i></a></td>
                                    </tr>
                                    <tr>
                                      <th scope="row">8</th>
                                      <td>Catálogo 2009-2010</td>                                
                                      <td><a href="/assets/pdf/acervos/cat-seleccion/2009-2010.pdf"><i class="fas fa-download"></i></a></td>
                                    </tr>
                                    <tr>
                                      <th scope="row">9</th>
                                      <td>Catálogo 2008-2009</td>                                
                                      <td><a href="/assets/pdf/acervos/cat-seleccion/2008-2009.pdf"><i class="fas fa-download"></i></a></td>
                                    </tr>
                                    <tr>
                                      <th scope="row">10</th>
                                      <td>Catálogo 2007-2008</td>                                
                                      <td><a href="/assets/pdf/acervos/cat-seleccion/2007-2008.pdf"><i class="fas fa-download"></i></a></td>
                                    </tr>
                                    <tr>
                                      <th scope="row">11</th>
                                      <td>Catálogo 2006-2007</td>                                
                                      <td><a href="/assets/pdf/acervos/cat-seleccion/2006-2007.pdf"><i class="fas fa-download"></i></a></td>
                                    </tr>
                                    <tr>
                                      <th scope="row">12</th>
                                      <td>Catálogo 2005-2006</td>                               
                                      <td><a href="/assets/pdf/acervos/cat-seleccion/2005-2006.pdf"><i class="fas fa-download"></i></a></td>
                                    </tr>
                                    <tr>
                                      <th scope="row">13</th>
                                      <td>Catálogo 2004-2005</td>                                
                                      <td><a href="/assets/pdf/acervos/cat-seleccion/2004-2005.pdf"><i class="fas fa-download"></i></a></td>
                                    </tr>
                                    <tr>
                                      <th scope="row">14</th>
                                      <td>Catálogo 2003-2004</td>                               
                                      <td><a href="/assets/pdf/acervos/cat-seleccion/2003-2004.pdf"><i class="fas fa-download"></i></a></td>
                                    </tr>
                                  </tbody>
                                </table>
                              
                              </div>
                      
                        </div>
                        <!-- Accordion card -->
                      
                        <!-- Accordion card -->
                        <div class="card">
                      
                          <!-- Card header -->
                          <div class="card-header" style="background-color: #ffead8; border-bottom: #ad542c 2px solid; border-top: #ad542c 2px solid;" role="tab" id="headingTwo2">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseTwo2"
                              aria-expanded="false" aria-controls="collapseTwo2">
                              <h5 class="mb-0 font-weight-bold brown-text">
                                Ejemplares adquiridos <i class="fas fa-angle-down rotate-icon"></i>
                              </h5>
                            </a>
                          </div>
                      
                          <!-- Card body -->
                          <div id="collapseTwo2" class="collapse" role="tabpanel" aria-labelledby="headingTwo2"
                            data-parent="#accordionEx">
                            <div class="table-wrapper-scroll-y my-custom-scrollbar m-4 py-3">
              
                                <table class="table table-hover mb-0">
                                  <thead>
                                    <tr>
                                      <th scope="col">#</th>
                                      <th scope="col">Documento PDF</th>
                                      <th scope="col">Descarga</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <th scope="row">1</th>
                                      <td>Catálogo ML-NME 2018-2019</td>
                                      <td><a href="/assets/pdf/acervos/cat-seleccion/2018-2019.pdf"><i class="fas fa-download"></i></a></td>
                                    </tr>
                                    <tr>
                                      <th scope="row">2</th>
                                      <td>Catálogo 2016-2017</td>
                                      <td><a href="/assets/pdf/acervos/cat-seleccion/2016-2017.pdf"><i class="fas fa-download"></i></a></td>
                                    </tr>
                                    <tr>
                                      <th scope="row">3</th>
                                      <td>Catálogo 2014-2015</td>
                                      <td><a href="/assets/pdf/acervos/cat-seleccion/2014-2015.pdf"><i class="fas fa-download"></i></a></td>
                                      
                                    </tr>
                                    <tr>
                                      <th scope="row">4</th>
                                      <td>Catálogo 2013-2014</td>
                                      <td><a href="/assets/pdf/acervos/cat-seleccion/2013-2014.pdf"><i class="fas fa-download"></i></a></td>
                                      
                                    </tr>
                                    <tr>
                                      <th scope="row">5</th>
                                      <td>Catálogo 2012-2013</td>
                                      <td><a href="/assets/pdf/acervos/cat-seleccion/2012-2013.pdf"><i class="fas fa-download"></i></a></td>
                                      
                                    </tr>
                                    <tr>
                                      <th scope="row">6</th>
                                      <td>Catálogo 2011-2012</td>                               
                                      <td><a href="/assets/pdf/acervos/cat-seleccion/2011-2012.pdf"><i class="fas fa-download"></i></a></td>
                                    </tr>
                                    <tr>
                                      <th scope="row">7</th>
                                      <td>Catálogo 2010-2011</td>                               
                                      <td><a href="/assets/pdf/acervos/cat-seleccion/2010-2011.pdf"><i class="fas fa-download"></i></a></td>
                                    </tr>
                                    <tr>
                                      <th scope="row">8</th>
                                      <td>Catálogo 2009-2010</td>                                
                                      <td><a href="/assets/pdf/acervos/cat-seleccion/2009-2010.pdf"><i class="fas fa-download"></i></a></td>
                                    </tr>
                                    <tr>
                                      <th scope="row">9</th>
                                      <td>Catálogo 2008-2009</td>                                
                                      <td><a href="/assets/pdf/acervos/cat-seleccion/2008-2009.pdf"><i class="fas fa-download"></i></a></td>
                                    </tr>
                                    <tr>
                                      <th scope="row">10</th>
                                      <td>Catálogo 2007-2008</td>                                
                                      <td><a href="/assets/pdf/acervos/cat-seleccion/2007-2008.pdf"><i class="fas fa-download"></i></a></td>
                                    </tr>
                                    <tr>
                                      <th scope="row">11</th>
                                      <td>Catálogo 2006-2007</td>                                
                                      <td><a href="/assets/pdf/acervos/cat-seleccion/2006-2007.pdf"><i class="fas fa-download"></i></a></td>
                                    </tr>
                                    <tr>
                                      <th scope="row">12</th>
                                      <td>Catálogo 2005-2006</td>                               
                                      <td><a href="/assets/pdf/acervos/cat-seleccion/2005-2006.pdf"><i class="fas fa-download"></i></a></td>
                                    </tr>
                                    <tr>
                                      <th scope="row">13</th>
                                      <td>Catálogo 2004-2005</td>                                
                                      <td><a href="/assets/pdf/acervos/cat-seleccion/2004-2005.pdf"><i class="fas fa-download"></i></a></td>
                                    </tr>
                                    <tr>
                                      <th scope="row">14</th>
                                      <td>Catálogo 2003-2004</td>                               
                                      <td><a href="/assets/pdf/acervos/cat-seleccion/2003-2004.pdf"><i class="fas fa-download"></i></a></td>
                                    </tr>
                                  </tbody>
                                </table>
                              
                              </div>
                          </div>
                      
                        </div>
                        <!-- Accordion card -->

                        <!-- Accordion card -->
                        <div class="card">
                      
                            <!-- Card header -->
                            <div class="card-header" style="background-color: #ffead8;" role="tab" id="headingThree3">
                              <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree3"
                                aria-expanded="false" aria-controls="collapseThree3">
                                <h5 class="mb-0 font-weight-bold brown-text">
                                Número de títulos adquiridos por año <i class="fas fa-angle-down rotate-icon"></i>
                                </h5>
                              </a>
                            </div>
                        
                            <!-- Card body -->
                            <div id="collapseThree3" class="collapse" role="tabpanel" aria-labelledby="headingThree3"
                              data-parent="#accordionEx">
                              <div class="table-wrapper-scroll-y my-custom-scrollbar m-4 py-3">
            
                                <table class="table table-hover mb-0">
                                  <thead>
                                    <tr>
                                      <th scope="col">#</th>
                                      <th scope="col">Documento PDF</th>
                                      <th scope="col">Descarga</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <th scope="row">1</th>
                                      <td>Catálogo ML-NME 2018-2019</td>
                                      <td><a href="/assets/pdf/acervos/cat-seleccion/2018-2019.pdf"><i class="fas fa-download"></i></a></td>
                                    </tr>
                                    <tr>
                                      <th scope="row">2</th>
                                      <td>Catálogo 2016-2017</td>
                                      <td><a href="/assets/pdf/acervos/cat-seleccion/2016-2017.pdf"><i class="fas fa-download"></i></a></td>
                                    </tr>
                                    <tr>
                                      <th scope="row">3</th>
                                      <td>Catálogo 2014-2015</td>
                                      <td><a href="/assets/pdf/acervos/cat-seleccion/2014-2015.pdf"><i class="fas fa-download"></i></a></td>
                                      
                                    </tr>
                                    <tr>
                                      <th scope="row">4</th>
                                      <td>Catálogo 2013-2014</td>
                                      <td><a href="/assets/pdf/acervos/cat-seleccion/2013-2014.pdf"><i class="fas fa-download"></i></a></td>
                                      
                                    </tr>
                                    <tr>
                                      <th scope="row">5</th>
                                      <td>Catálogo 2012-2013</td>
                                      <td><a href="/assets/pdf/acervos/cat-seleccion/2012-2013.pdf"><i class="fas fa-download"></i></a></td>
                                      
                                    </tr>
                                    <tr>
                                      <th scope="row">6</th>
                                      <td>Catálogo 2011-2012</td>                               
                                      <td><a href="/assets/pdf/acervos/cat-seleccion/2011-2012.pdf"><i class="fas fa-download"></i></a></td>
                                    </tr>
                                    <tr>
                                      <th scope="row">7</th>
                                      <td>Catálogo 2010-2011</td>                               
                                      <td><a href="/assets/pdf/acervos/cat-seleccion/2010-2011.pdf"><i class="fas fa-download"></i></a></td>
                                    </tr>
                                    <tr>
                                      <th scope="row">8</th>
                                      <td>Catálogo 2009-2010</td>                                
                                      <td><a href="/assets/pdf/acervos/cat-seleccion/2009-2010.pdf"><i class="fas fa-download"></i></a></td>
                                    </tr>
                                    <tr>
                                      <th scope="row">9</th>
                                      <td>Catálogo 2008-2009</td>                                
                                      <td><a href="/assets/pdf/acervos/cat-seleccion/2008-2009.pdf"><i class="fas fa-download"></i></a></td>
                                    </tr>
                                    <tr>
                                      <th scope="row">10</th>
                                      <td>Catálogo 2007-2008</td>                                
                                      <td><a href="/assets/pdf/acervos/cat-seleccion/2007-2008.pdf"><i class="fas fa-download"></i></a></td>
                                    </tr>
                                    <tr>
                                      <th scope="row">11</th>
                                      <td>Catálogo 2006-2007</td>                                
                                      <td><a href="/assets/pdf/acervos/cat-seleccion/2006-2007.pdf"><i class="fas fa-download"></i></a></td>
                                    </tr>
                                    <tr>
                                      <th scope="row">12</th>
                                      <td>Catálogo 2005-2006</td>                               
                                      <td><a href="/assets/pdf/acervos/cat-seleccion/2005-2006.pdf"><i class="fas fa-download"></i></a></td>
                                    </tr>
                                    <tr>
                                      <th scope="row">13</th>
                                      <td>Catálogo 2004-2005</td>                                
                                      <td><a href="/assets/pdf/acervos/cat-seleccion/2004-2005.pdf"><i class="fas fa-download"></i></a></td>
                                    </tr>
                                    <tr>
                                      <th scope="row">14</th>
                                      <td>Catálogo 2003-2004</td>                               
                                      <td><a href="/assets/pdf/acervos/cat-seleccion/2003-2004.pdf"><i class="fas fa-download"></i></a></td>
                                    </tr>
                                  </tbody>
                                </table>
                              
                              </div>
                            </div>
                        
                          </div>
                          <!-- Accordion card -->
                      
                      
                        </div>
                    
                    
                        </div>
                    
                    
                    
                    </div>